.main{
    height: 100vh;
    padding: 0px !important;
}

.main-card{
    min-height: 15vh;
    background-image: url('../../img/nature01.jpg');
    background-position: center top;
}

.cartoes{
    padding: 0.25rem;
    width: 550px;
}
.card-body{
    padding: 0.5rem !important;
}

.meio-card{
    display: flex;
    justify-content: space-around !important;
}

.widgets{
    display: flex;
    justify-content: flex-end;
}

.boxMovimentacao{
    padding-top: 5px;
}

.caixasInput{
    align-items: center;
    display: flex;
    justify-content: center;
}  

.rdButon{
    align-items: center;
    display: flex;
    justify-content: center;
}

.caixasInput #inputDescricao{
    width: 60%;
}

#grafic{
    width: 100%;
}






@media (max-width: 600px)
{
.container{
    align-items: center;
    display: flex;
    justify-content: center;
}  
}