.main{
    height: 100vh;
    padding: 0px !important;
}

.main-card{
    min-height: 15vh;
    background-image: url('../../img/nature01.jpg');
    background-position: center top;
}

.cartoes{
    padding: 0.25rem;
    width: 550px;
}
.card-body{
    padding: 0.5rem !important;
}

.meio-card{
    display: flex;
    justify-content: space-around !important;
}

.widgets{
    display: flex;
    justify-content: flex-end;
}

.boxMovimentacao{
    float:right;
    width: 50%;
    margin-top: 0px;
    height: 302px;
    padding-left: 2px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}
.caixasInput{
    align-items: center;
    display: flex;
    justify-content: center;
}  

.rdButon{
    align-items: center;
    display: flex;
    justify-content: center;
}

.caixasInput #inputDescricao{
    width: 60%;
}

#grafic{
    width: 50%;
    height: 300px;
    padding-right: 2px;
}

#boxDados{
    display: flex;
}

#cobrirBuraco{
    
    margin-top: 305px;
    position: absolute;
   width: 1140px;
   height: 360px;
   background-color: white;
}

#footer{
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 370px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9pt;
}

#caixaValores{
    width: 700px;
    margin-left: 370px;

}

#valoresMovimentacoes{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    padding: 10px;
    line-height: 50px;

}

@media (max-width: 600px)
{
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    
}  
}