@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root{
  --color-destak-ligth: #FFC107;
  --color-destak-attention: #ffa000;
  --color-destak-dark: #C97500;
  --color-base-scale-1: #0B3073;
  --color-base-scale-2: #0C527D;
  --color-base-scale-3: #0F5B65;
  --color-base-scale-4: #0C7D6B;
  --color-base-scale-5: #0B7345;
  --color-grey-scale-1: #212121;
  --color-grey-scale-2: #757575;
  --color-grey-scale-3: #BDBDBD;
  --color-grey-scale-4: #ededed;
  --color-bkg-bisque: #ffe4c4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

.App {
  background-color: var(--color-bkg-bisque);
  min-height: 100vh;
}
.title{
  font-family: 'Nunito', sans-serif;
}

.general-text{
  font-family: 'Lato', sans-serif;
}

.big-box{
  background-color: var(--color-base-scale-2);
}

.big-box h1{
  color: var(--color-grey-scale-4);
}

.big-box, .txt-simple1, label{
  color: var(--color-grey-scale-3);
}

.btn-base{
  color: var(--color-grey-scale-4);
  border-radius: 0.3rem;
  border-color: transparent;
}

.btn-base:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-entrar{
  background-color: var(--color-base-scale-4);
}

.btn-google{
  background-color: #1166e8; /*#4c89e3 azul-claro, #1166e8 azul-escuro, #da4d39 vermelho, cor padrão do botão escuro do google*/
}

.btn-facebook{
  background-color: #3b5998; /* #3b5998 cor padrão do botão do facebook*/
}