@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root{
  --color-destak-ligth: #FFC107;
  --color-destak-attention: #ffa000;
  --color-destak-dark: #C97500;
  --color-base-scale-1: #0B3073;
  --color-base-scale-2: #0C527D;
  --color-base-scale-3: #0F5B65;
  --color-base-scale-4: #0C7D6B;
  --color-base-scale-4: #0B7345;
  --color-grey-scale-1: #212121;
  --color-grey-scale-2: #757575;
  --color-grey-scale-3: #BDBDBD;
  --color-grey-scale-4: #ededed;
}

.title{
  font-family: 'Nunito', sans-serif;
}

.general-text{
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

